pipeline/demo4-get-metadata-lookup.json
{
	"name": "demo4-get-metadata-lookup",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata emp",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "az_SA_inputEmp",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"size",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LookupLastModifiedDateInDB",
				"description": "Buscar datos en la BD respecto a la visualización de los archivos",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Metadata emp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_LastLoadDate]",
						"storedProcedureParameters": {
							"Name": {
								"type": "String",
								"value": {
									"value": "@activity('Get Metadata emp').output.itemName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "az_DB_inputEmp",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "Demos"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-01T08:51:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}