pipeline/demo5-get-metadata-lookup-if.json
{
	"name": "demo5-get-metadata-lookup-if",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata emp",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "az_SA_inputEmp",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"size",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LookupLastModifiedDateInDB",
				"description": "Buscar datos en la BD respecto a la visualización de los archivos",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Metadata emp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_LastLoadDate]",
						"storedProcedureParameters": {
							"Name": {
								"type": "String",
								"value": {
									"value": "@activity('Get Metadata emp').output.itemName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "az_DB_inputEmp",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IfNewerLoad",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupLastModifiedDateInDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n    formatDateTime(activity('Get Metadata emp').output.lastModified),\n    activity('LookupLastModifiedDateInDB').output.firstRow.ExecutionDate)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "WaitFalse",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "WaitTrue",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Demos"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-01T09:13:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}